<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
   <!-- <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>  -->
   <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/img/angular-logo.jpg">
    </a>
  </div> 
  <div>
    <header>E-Banking</header>
  </div> 
</mat-toolbar>

<router-outlet></router-outlet>

 <mat-toolbar color="primary" class="app-footer">
  <div>
    <footer></footer>
  </div>
  </mat-toolbar> 



